h2#bienvenu{
	font:2em verdana;text-align: center;width:40%;margin:5em 0;color:white;
}
	#bienvenu b{text-shadow:1px 1px 1px rgb(0,150,255);}
.connexion{ 
	position:absolute;top:25%;right:3%;background:rgba(255,255,255,.7);
	width:30%;min-height:280px;border:15px double rgb(0,150,255);
	border-top:0;border-bottom:0;border-radius:20%;
}
.connexion h2{
	font:22px impact, sans-serif;position:relative;
	text-align:center;margin:0;margin-bottom:.5%;padding:25px 0;height:10%;
	background:rgb(0,150,255);color:white;
}
.connexion h2 img{position:absolute;height:80%;top:10%;left:2%;}
.connexion p{text-align:center;font:18px calibri;margin:2px 0;height:8%;color:red;}

.connexion span,.connexion span *{display:block;transition:all .2s ease;}
.connexion span.text{
	width:90%;margin:15px 0 0 5%;border-bottom:1px solid rgb(0,150,255);
}
.connexion .text label{cursor:text;font:20px sans-serif;color:gray;}
.connexion .text label:hover{color:black;}
.connexion .text input{
	padding:3px 0;background:transparent;border:0;height:0;color:rgb(0,150,255);text-indent:15px;
	width:100%;
}
.connexion .submit input{
	border:0;background:rgb(0,150,255);font:18px sans-serif;padding:5px 0;
	width:90%;margin: 20px 0 0 5%;color:white;
}

.connexion .submit center{color:red;margin:15px 0;font:16px calibri;cursor:pointer;}
.connexion .submit center:hover{text-decoration:underline;}
